.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav_logo {
  height: 100%;
}

.button {
  margin: 5px;
}

.scrape-container {
  margin: 10px auto;
  height: 55vh;
  max-width: 85%;
  overflow: scroll;
}

.footer-text {
  font-size: calc(10px + 0.7vmin);
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .main-logo {
    max-width: 200px;
  }
  .subtitle {
    font-size: calc(10px + 0.9vmin);
  }
  .scrape-button {
    font-size: calc(10px + 0.5vmin);
  }
  .hero-body {
    padding: 0px;
  }
  .scrape-container {
    margin: 10px auto;
    height: 70vh;
    max-width: 85%;
    overflow: scroll;
  }
  .media-text-size {
    font-size: calc(10px + 1vmin);
  }
}
