.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav_logo {
  height: 100%;
}

.button {
  margin: 5px;
}

.scrape-container {
  margin: 10px auto;
  height: 55vh;
  max-width: 85%;
  overflow: scroll;
}

.footer-text {
  font-size: calc(10px + 0.7vmin);
}
